.tv-show-details {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); 


  font-family: "Aboreto", sans-serif;
  @media only screen and (max-width: 400px) {
    color: white;
    &__title {
      font-size: 10px;
      text-shadow: none;
    }

    &__image-details {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: black;

    }
    &__button-box{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px;

    }
    &__button-container{
      display: flex;
     
      justify-content: center;
      margin: 10px;

    }
    &__date {
      display: flex;
      align-items: end;
      font-size: 10px;
      margin-left: 5px;
      text-shadow: none;
    }
    &__text {
      margin-right: 20px;
    
    }
    &__icon {
      width: 20px;
      margin-right: 5px;
    }
    &__strong {
      margin-right: 5px;
      font-size: 8px;
    }
    &__backdrop {
      width: 100%;
      height: 100%;
      filter: blur(10px);
      object-fit: cover;
      object-position: top left;
      position: absolute;
      z-index: -1;
    }

    &__poster {
      width: 150px;
      max-width: 500px;
      height: 200px;
      margin-bottom: 20px;
      margin-top: 50px;
      position: relative;
      z-index: 1;
      border-radius: 10px;
    }

    &__overview {
      margin-bottom: 20px;
      text-align: justify;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 12px;
      width: 280px;
    
    }

    &__details {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
     
    }
    &__details-items {
      display: flex;
      align-items: center;
    }
    &__error {
      color: red;
      font-size: 18px;
    }

    &__loading {
      font-size: 18px;
    }
  }
}
