@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  &__title {
    font-family: "Aboreto", sans-serif;
    font-size: 35px;
    margin-left: 20px;
  }

  &__item {
    margin-left: 5px;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
  }
  &__logo {
    width: 25px;
    height: 25px;
    padding: 10px;
  }
  &__title {
    font-family: "Aboreto", sans-serif;
    font-size: 20px;
    margin-left: 5px;
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;

    &:visited {
      color: black;
    }

    &--watchlist-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
