@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Rubik&display=swap");

.upcoming {
  position: relative;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  overflow: hidden;

  &__details-container {
    position: absolute;
    max-width: 700px;
    bottom: 0;
    left: 0;
    margin: 20px 20px 220px 350px;
    padding: 20px;
    border-radius: 15px;
    z-index: 2;
  }

  &__details {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: start;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__vote-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__slider-container {
    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 2;
    margin-right: 150px;
  }

  &__button-container {
    margin-top: 20px;
  }

  &__linear {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.5) 40%,
      rgb(0, 0, 0, 0.05) 60%,
      transparent 100%
    );
  }

  &__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__title {
    font-size: 20px;
    text-align: start;
  }

  &__overview {
    width: 600px;
    font-size: 17px;
  }

  &__error-message {
    color: #d85b53;
    text-align: center;
  }

  &__img {
    width: 100px;
    height: auto;
    border-radius: 10px;
  }

  &__selected {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 110px;
    animation: bounce2 5s ease infinite;

    @keyframes bounce2 {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }

  &__movie-item {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__vote-details {
    width: 500px;
  }

  &__vote {
    flex: 1;
    text-align: start;
    padding: 5px;
  }

  &__count {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex: 1;
    text-align: start;
    padding: 5px 0px;
  }

  &__icon-container {
    position: absolute;
    bottom: 10%;
    margin-left: 150px;
    z-index: 3;
    width: 200px;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    &:hover {
      background-color: #d85b53;
      padding: 5px;
      border-radius: 10px;
    }
  }
  &__title-overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.05);
    z-index: 1;
  }

  &__selected-title {
    font-size: 14rem;
  }

  &__filter {
    position: absolute;
    top: 50%;
    z-index: 3;
    margin-left: 150px;
  }
}
