.arrow {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    width: 50px;
  
    &__img {
      width: 30px; 
      height: auto; 
  

    }
  }
  