.slider {
  &__slides {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    padding: 0;
    list-style-type: none;

    &>* {
      margin-right: 20px;
    }

    &>*:last-child {
      margin-right: 0;
    }
  }

  @media only screen and (min-width: 280px) and (max-width: 480px) {


    &__list {
      &>* {
        margin-right: 7px;
      }
    }
  }


}