.button {
  align-items: center;
  border: none;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 20px;
  outline: 0;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 15px;

  &:hover,
  &:focus {
    background-color: #3498db;
    color: #fff;
  }

  &--primary {
    margin-top: 10px;
    font-size: 10px;
    width: 20px;

    @media only screen and (max-width: 400px) {
      width: auto;
      margin-top: 5px;
      font-size: 10px;
      height: 30px;
    }

    &:focus {
      color: #171e29;
    }

    &:hover {
      border-color: green;
      color: green;
      fill: green;
    }

    &:active {
      border-color: green;
      color: green;
      fill: green;
    }
  }

  &--secondary {
    background-color: #fff;
    @media only screen and (max-width: 400px) {
      width: 100%;
      margin-top: 5px;
      font-size: 10px;
      height: 30px;
    }
    &:focus {
      color: #171e29;
    }

    &:hover {
      border-color: black;
      color: #06f;
      fill: #06f;
    }

    &:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
  }

  &--view {
    background-color: #d85b53;
    width: 150px;
    height: 50px;
    font-size: 15px;
    background: linear-gradient(45deg, transparent 5%, rgba(216,91,83) 5%);
    border: 0;
    color: #fff;
    box-shadow: 6px 0px 0px rgb(255, 255, 255, 0.3);


    &:focus {
      width: 175px;
    }

    &:hover {
      color: white;
      width: 160px;
    }

    &:active {

      color: black;
      fill: black;
    }

   
  }
}
