.button {
  background-color: rgb(216, 91, 83, 0.7);
  align-items: center;
  border: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 20px;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 5px;

  &:hover,
  &:focus {

    color: #fff;
  }

  &--view-all {
    color: #fff;
    background: rgba(66, 65, 65, 0.2);
    font-size: 15px;
    width: 170px;
    height: 60px;
    border: 1px dashed rgb(216, 91, 83);
    padding: 12px 26px;
    border-radius: 50px;

    &:focus {
      width: 175px;
      background-color: rgb(51, 152, 219, 0.5)
    }

    &:hover {


      box-shadow: 6px 0px 0px rgb(216, 91, 83, 0.5);
    }

    &:active {
      color: black;
      fill: black;
    }
  }

  &--view {
    background-color: #d85b53;
    width: 170px;
    height: 50px;
    font-size: 15px;
    background: linear-gradient(45deg, rgba(216, 91, 83) 5%);
    border: 0;
    color: #fff;

    margin-right: 40px;

    &:focus {
      width: 175px;
      background-color: rgb(51, 152, 219, 0.5)
    }

    &:hover {
      color: white;

      box-shadow: 6px 0px 0px rgb(255, 255, 255, 0.2);
    }

    &:active {
      color: black;
      fill: black;
    }
  }

  &__icon {
    width: 30px;
    margin-right: 10px;
  }


  @media only screen and (min-width: 280px) and (max-width: 480px) {
    &--get-started {
      width: 70px;
      height: 30px;
      font-size: 9px;
      margin-top: 10px;
    }

    &--view-all {
      margin-top: 20px;
      font-size: 10px;
      width: 100px;
      height: 30px;
      padding: 8px 13px;
      border-radius: 50px;

      &:focus {
        width: 65px;
        background-color: rgb(51, 152, 219, 0.5)
      }

      &:hover {


        box-shadow: 6px 0px 0px rgb(216, 91, 83, 0.5);
      }

      &:active {
        color: black;
        fill: black;
      }
    }

    &--view {
      background-color: #d85b53;
      width: 110px;
      height: 30px;
      font-size: 9px;

      color: #fff;
      margin-right: 5px;

      &:focus {
        width: 115px;
        background-color: rgb(51, 152, 219, 0.5)
      }
    }

    &__icon {
      width: 10px;
      margin-right: 5px;
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 712px) {
    &--view {

      width: 140px;
      height: 35px;
      font-size: 13px;

      color: #fff;
      margin-right: 20px;

      &:focus {
        width: 145px;
        background-color: rgb(51, 152, 219, 0.5)
      }
    }

    &__icon {
      width: 20px;

    }
  }

  @media screen and (min-width: 481px) and (max-width: 1012px) {
    &--view-all {
      margin-top: 10px;
      font-size: 10px;
      width: 130px;
      height: 40px;
      padding: 8px 13px;
      border-radius: 50px;

      &:focus {
        width: 65px;
        background-color: rgb(51, 152, 219, 0.5)
      }

      &:hover {


        box-shadow: 6px 0px 0px rgb(216, 91, 83, 0.5);
      }

      &:active {
        color: black;
        fill: black;
      }
    }

  }

  @media only screen and (min-width: 712px) and (max-width: 1020px) {
    &--view {

      width: 140px;
      height: 35px;
      font-size: 13px;

      color: #fff;
      margin-right: 20px;

      &:focus {
        width: 145px;
        background-color: rgb(51, 152, 219, 0.5)
      }
    }

    &__icon {
      width: 20px;

    }
  }



}